<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <bean id="rabbitmqInboundTransportServiceBean" class="com.esri.geoevent.transport.rabbitmq.RabbitMQInboundTransportService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="rabbitmqInboundTransportService" ref="rabbitmqInboundTransportServiceBean" interface="com.esri.ges.transport.TransportService"/>
	<bean id="rabbitmqOutboundTransportServiceBean" class="com.esri.geoevent.transport.rabbitmq.RabbitMQOutboundTransportService" activation="eager">
		<property name="bundleContext" ref="blueprintBundleContext"/>
	</bean>
	<service id="rabbitmqOutboundTransportService" ref="rabbitmqOutboundTransportServiceBean" interface="com.esri.ges.transport.TransportService"/>
</blueprint>
